{% comment %}
<form class="form-group" action ="" method="get" novalidate>
    {# <button type="submit" class="btn btn-success">Search</button> #}
    <div class="btn-group-vertical"><!--data-toggle="buttons"-->
        <button type="submit" class="btn btn-success">Search</button>
        {# http://stackoverflow.com/questions/15365028/twitter-bootstrap-button-group-control-radio-buttons-checkboxes #}
        <div class="btn-group-vertical" data-toggle="buttons">
        {% for checkbox in form.select_tag %}
            {# http://codepen.io/vlichtenberg/pen/GgoBdq #}
            {# https://docs.djangoproject.com/en/1.11/ref/forms/widgets/#radioselect #}
            {# https://codepen.io/j_holtslander/pen/XmpMEp toogleble sidebar#}
            <label for="{{ checkbox.id_for_label }}" class="btn btn-primary">
            {{ checkbox.choice_label }}
            {{ checkbox.tag }}
            </label>
        {% endfor %}
        </div>
    </div>  
</form>
{% endcomment %}
{% load widget_tweaks %}

{#!!!!! http://stackoverflow.com/questions/23103567/bootstrap-dropdown-checkbox-select               #}
{# https://behigh.github.io/bootstrap_dropdowns_enhancement/#inputs-disable-label-replacement #}
<form class="form-inline" action="{% url 'index' %}" method="GET">
    <div class="btn-group navbar-btn"><!--navbar-btn-->
        <button class="btn btn-primary">ShowMe!</button>
        <a class="btn btn-primary" href="{% url 'unassigned' %}">
            <span class="glyphicon glyphicon-indent-right" aria-hidden="true"></span>
        </a>
        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" data-placeholder="false"> <span class="caret"></span></button>
     
        <ul class="dropdown-menu pull-right">
            {% for checkbox in formMultyTag.select_tag %}
                <li>
                    {{ checkbox.tag }}
                    <label for="{{ checkbox.id_for_label }}">{{ checkbox.choice_label }}</label>
                </li>
            {% endfor %}  
        </ul>
    </div>
</form>
