{% load widget_tweaks %}

<form class="form-inline" action="{% url 'posts:index' %}" method="GET">

  <div class="btn-group navbar-btn"><!--navbar-btn-->
    <button class="btn btn-primary">ShowMe!</button>
    <input type="checkbox" data-width="35" data-toggle="toggle" data-on="All" data-off="Any" data-onstyle="warning" data-offstyle="primary" data-size="normal" name="condition" value="true">

    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" data-placeholder="false"> <span class="caret"></span></button>
    <ul class="dropdown-menu scrollable-menu pull-right">
      <li>
        <input type="checkbox" name="show_unassigned" value="true" id="id_show_unassigned">
        <label for="id_show_unassigned">
          <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> UNASSIGNED
        </label>
      </li> 
      {% for checkbox in formMultyTag.select_tag %}
      <li>
          {{ checkbox.tag }}
          <label for="{{ checkbox.id_for_label }}">{{ checkbox.choice_label }}</label>
      </li>
      {% endfor %}
    </ul>
  </div><!--btn-group navbar-btn-->
 
</form>
