<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portanizer</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type = "text/css"/>
    <link rel="stylesheet" href="{% static 'css/dropdowns-enhancement.css' %}" type = "text/css"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-toggle.min.css' %}" type = "text/css"/>
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/dropdowns-enhancement.js' %}"></script>
    <script src="{% static 'js/bootstrap-toggle.min.js' %}"></script>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top porta-navbar"><!--navbar navbar-inverse-->
    <div class="container"><!--container-fluid-->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
        <a class="navbar-brand" href="{% url 'posts:index' %}">Portanizer</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li>{% include "includes/panel.html" %}</li>
          {# <li><input type="checkbox" checked data-toggle="toggle" data-on="Any" data-off="Only" data-onstyle="success" data-offstyle="warning" data-size="small"></li> #}
          <li><a href="{% url 'posts:create' %}">Create Post</a></li>
          <li><a href="{% url 'posts:tagmanager' %}">Tag Manager</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href=""><span class="glyphicon glyphicon-user"></span> {{request.user.username}}</a></li>
          <li><a href="{% url 'authorization:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    {% block content %}{% endblock content %}
  </div>
</body>
</html>