{% extends "header.html" %}
{% block content %}
{% load widget_tweaks %}
<div class="row">
  <div class="col-xs-12">
    <div class="well well-sm">

      {% url 'updatepost' pk as url_updatepost %}
      {% if request.path == url_updatepost %}  
        <div class="form-group">
          <a href="{% url 'deletepost' pk %}" class="btn btn-default">
            <span class="glyphicon glyphicon-trash"></span>
          </a>
        </div>
      {% endif %}
      
      <form action ="" method="post" novalidate>{% csrf_token %}        
        <div class="row form-group">
          <div class="col-xs-8">
            <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
            {% render_field form.title class="form-control" placeholder="Enter post title" %}
            {{ form.title.errors }}
          </div>
        </div>
        <div class="form-group">
          <label for="{{ form.body.id_for_label }}">{{ form.body.label }}</label>
          {% render_field form.body class="form-control" placeholder="Enter main body" %}
          {{ form.body.errors }}
        </div>      
        <div class="row form-group">
          <div class="col-xs-6">
            <label for="{{ form.tag.id_for_label }}">{{ form.tag.label }}</label>
            {% render_field form.tag class="form-control" %}
            {{ form.tag.errors }}
          </div>
          <div class="col-xs-6">
            <label for="{{ formNewTag.name.id_for_label }}">{{ formNewTag.name.label }}</label>
            <div class = "input-group">
              {% render_field formNewTag.name class="form-control" placeholder="Enter new tag name" %}
              <div class="input-group-btn">
                <button name="tag_submit" type="submit" class="btn btn-default">
                  <span class="glyphicon glyphicon-save"></span>
                </button>
              </div>
            </div>
            {{ formNewTag.name.errors }}
          </div>
        </div><!--row form-group-->

        <div class="form-group">
          <button name="post_submit" type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
        </div>
      </form> 
    </div><!--well-->
  </div><!--col-->
</div><!--row-->
{% endblock content %}s
