{% extends "header.html" %}
{% block content %}
{% load widget_tweaks %}

<div class="well well-sm">
    <form class="form-group" action ="" method="post" novalidate>{% csrf_token %}        
        <label for="{{ form.title.id_for_label }}">Title: </label>
        {% render_field form.title class="form-control" %}
        {{ form.title.errors }}
        <p></p>
        <label for="{{ form.body.id_for_label }}">Body: </label>
        {% render_field form.body class="form-control" %}
        {{ form.body.errors }}        
        <p></p>
        <label for="{{ form.tag.id_for_label }}">Tag: </label>
        {% render_field form.tag class="form-control" %}
        {{ form.tag.errors }}
        <p></p>
        {# form for tag creation #}
        <label for="{{ formNewTag.name.id_for_label }}">New tag: </label>
        {% render_field formNewTag.name class="form-control" %}
{#         <input type="submit" class="btn btn-default" value="Create"/> #}
        <p>{{ formNewTag.name.errors }}</p>

        <input type="submit" class="btn btn-success" value="Submit"/>
    </form>

    {% url 'updatepost' pk as url_updatepost %}
    {% if request.path == url_updatepost %}        
        <form class="form-group" action="{% url 'deletepost' pk %}" method="get" novalidate>
            <input type="submit" class="btn btn-danger" value="Delete"/>
        </form>
    {% endif %}

{% comment %}
    <form class="form-inline" action ="" method="post" novalidate>{% csrf_token %}
        <label for="{{ formNewTag.name.id_for_label }}">New tag: </label>
        {% render_field formNewTag.name class="form-control" %}
        <input type="submit" class="btn btn-default" value="Create"/>
        <p>{{ formNewTag.name.errors }}</p>
    </form>    
{% endcomment %}

</div>
{% endblock content %}