{% extends "header.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="row">
  <div class="col-xs-12">
    <div class="well well-sm">
   
      <form action ="" method="post" novalidate>{% csrf_token %}      
      {{ formset.management_form }}

        <div class="row bottom-buffer">
          {% for form in formset reversed %}
          {{form.id}}

          {% if forloop.first %}
          <div class="col-xs-4 col-add-mrg">
            <label for="id_name">New tag</label>
            {% render_field form.name class="form-control" placeholder="Enter new tag"%}
            {{form.name.errors}}
          </div>
        </div>
          
        <div class="row bottom-buffer">
          <div class="col-xs-4 col-add-mrg">

          {% else %}
              <div class = "input-group">
                {% render_field form.name class="form-control" %}
                <span class="input-group-addon">
                  {% render_field form.DELETE class="checkbox big-checkbox" %}
                </span>
              </div>
              {{form.name.errors}}

            {# count starts from 2 because of extra form #}
            {% if forloop.counter|add:-1|divisibleby:column_count and not forloop.last %}
          </div>
          <div class="col-xs-4 col-add-mrg">
            {% endif %}

          {% endif %} 
          {% endfor %}
          </div><!--col-->
        </div><!--row-->

        <div class="row col-add-mrg">
          <div class="col-xs-4 col-add-mrg">
            <button type="submit" class="btn btn-default">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
          </div>
        </div>

      </form>
      
    </div><!--well-->
  </div><!--col-->
</div><!--row-->
{% endblock content %}