/** {
  border-radius: 0 !important;
}*/


/*.btn-primary {
    background-color: transparent;
}
.btn-success {
    background-color: #337ab7;
    border-color:#2e6da4;
}
.btn.btn-success:hover {
  background-color: #2e6da4;
}
*/

/*http://stackoverflow.com/questions/34536784/bootstrap-button-active-color-change*/
/*.btn.btn-primary.focus,
.btn.btn-primary:focus {
  background-color: transparent;
}*/


/*.btn.btn-primary:hover {
  background-color: transparent;
}*/


/*.row {
    margin-top:10px; 
}*/
body {
    background-color:#688887;
    padding-top: 70px; /*for fixed nav bar*/
}
.errorlist {
    color: #bd5c83;
}