/*.btn.btn-success:hover {
  background-color: #2e6da4;
}*/

/*http://stackoverflow.com/questions/34536784/bootstrap-button-active-color-change*/
/*.btn.btn-primary.focus,
.btn.btn-primary:focus {
  background-color: transparent;
}*/

/*.btn.btn-primary:hover {
  background-color: transparent;
}*/

/*.form-inline {
  https://stackoverflow.com/questions/18587588/keep-two-html-forms-on-the-same-line-in-a-paragraph-tag
    display: inline-block;
}*/

/*::-webkit-scrollbar {
display: none;
}*/

body {
    background-color:#74A4BC;
    padding-top: 70px; /*for fixed nav bar*/
    /*overflow-y:hidden;*/
    overflow-y: scroll;/*not to rock the navbar*/
}
/*To display register form with less width*/
.login-sm {
    width:40%;
    margin: 0 auto;
}
.errorlist {
    color: #c66610;
}
/*Add margin to columns*/
/*https://coderwall.com/p/0jezca/vertical-spacing-for-bootstrap-columns*/
/*.col-add-mrg {
    margin-bottom: 8px;
}*/
/*.blue {
    color: #428bca;
}*/

.bottom-buffer { 
    margin-bottom:8px;
}
.big-checkbox {
    width: 15px;
    height: 15px;
}

/*https://stackoverflow.com/questions/19227496/scrollable-menu-with-bootstrap-3-menu-expanding-its-container-when-it-should-n*/
.scrollable-menu {
    height: auto;
    max-height: 600px;
    overflow-x: hidden;
}