/** {
  border-radius: 0 !important;
}*/


/*.btn-primary {
    background-color: transparent;
}
.btn-success {
    background-color: #337ab7;
    border-color:#2e6da4;
}
.btn.btn-success:hover {
  background-color: #2e6da4;
}
*/

/*http://stackoverflow.com/questions/34536784/bootstrap-button-active-color-change*/
/*.btn.btn-primary.focus,
.btn.btn-primary:focus {
  background-color: transparent;
}*/


/*.btn.btn-primary:hover {
  background-color: transparent;
}*/

/*::-webkit-scrollbar {
display: none;
}*/
.login-sm {
    width:70%;
    margin: 0 auto;
}
/*.row {
    margin-top:10px; 
}*/
/*.porta-navbar {
    margin: 0;
    overflow-y: scroll;
}*/
body {
    background-color:#688887;
    padding-top: 70px; /*for fixed nav bar*/
    /*overflow-y:hidden;*/
    overflow-y: scroll;
}
.errorlist {
    color: #c66610;
}
/*.glyphicon {
    font-size: 50px;
}*/
.form-inline {
  /*https://stackoverflow.com/questions/18587588/keep-two-html-forms-on-the-same-line-in-a-paragraph-tag*/
    display: inline-block;
}