{% load widget_tweaks %}
{% url 'authorization:register' as register_url %}
{% url 'authorization:resetpwd' as resetpwd_url %}
{% url 'authorization:resetpwd_confirm' as resetpwd_confirm_url %}

<div class="row">
  <div class="col-xs-12">
    {{ form.non_field_errors }}
    <form class="form-group" action ="" method = "post" novalidate> {% csrf_token %}
      
      {% if request.path == resetpwd_url %}
        <label for="">Enter the login name or email</label>
        <p>{% render_field form.email_or_username class="form-control" placeholder="Enter email or username" %}</p>
      {{ form.email_or_username.errors }}
      {% endif %}

      {% if request.path == resetpwd_confirm_url %}
        <label for="{{ form.password.id_for_label }}">{{form.password.label}} </label>
        <p>{% render_field form.password class="form-control" placeholder="Enter password" %}</p>
        {{ form.password.errors }}
        <label for="{{ form.password2.id_for_label }}">{{form.password2.label}} </label>
        <p>{% render_field form.password2 class="form-control" placeholder="Enter the same password" %}</p>
        {{ form.password2.errors }}
      {% endif %}

      <label for="{{ form.username.id_for_label }}">{{form.username.label}} </label>
      <p>{% render_field form.username class="form-control" placeholder="Enter username" %}</p>
      {{ form.username.errors }}

      <label for="{{ form.password.id_for_label }}">{{form.password.label}} </label>
      <p>{% render_field form.password class="form-control" placeholder="Enter password" %}</p>
      {{ form.password.errors }}
              
      {% if request.path == register_url %}       
        <label for="{{ form.password2.id_for_label }}">{{form.password2.label}} </label>
        <p>{% render_field form.password2 class="form-control" placeholder="Enter the same password" %}</p>
        {{ form.password2.errors }}
        
        <label for="{{ form.email.id_for_label }}">{{form.email.label}} </label>
        <p>{% render_field form.email class="form-control" placeholder="Enter your email" %}</p>
      {% endif %}

        <button type="submit" class="btn btn-success">{{title}}</button>
    </form>
  </div>
</div>


